@import "./dropdown/index.styl"
@import "./editor.styl"
@import "https://rsms.me/inter/inter.css"

@media (prefers-color-scheme: dark)
	body
		background: #0fc

html
	margin: 0
	font-family: Inter, system-ui

body
	padding: 1rem

button
	font-family: inherit

[noFocusRing]:focus
	outline: none